USE [master]
GO
/****** Object:  Database [QLCTA]    Script Date: 5/29/2021 5:54:27 PM ******/
CREATE DATABASE [QLCTA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCTA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLCTA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLCTA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLCTA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCTA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCTA]
GO
/****** Object:  Table [dbo].[BanHang]    Script Date: 5/29/2021 5:54:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanHang](
	[maBH] [varchar](10) NOT NULL,
	[tenTK] [varchar](50) NOT NULL,
	[maCLV] [varchar](10) NOT NULL,
	[tg] [datetime] NOT NULL,
	[tongTien] [money] NOT NULL,
 CONSTRAINT [PK_BanHang] PRIMARY KEY CLUSTERED 
(
	[maBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 5/29/2021 5:54:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[maCLV] [varchar](10) NOT NULL,
	[maDD] [varchar](10) NOT NULL,
	[caLamViec] [nvarchar](20) NOT NULL,
	[ngay] [date] NOT NULL,
	[TK1] [varchar](50) NOT NULL,
	[TK2] [varchar](50) NULL,
 CONSTRAINT [PK_CaLamViec_1] PRIMARY KEY CLUSTERED 
(
	[maCLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamLuong]    Script Date: 5/29/2021 5:54:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamLuong](
	[maLuong] [varchar](10) NOT NULL,
	[tenTK] [varchar](50) NOT NULL,
	[thangNam] [varchar](10) NOT NULL,
	[luongCoBan] [int] NOT NULL,
	[soCaLam] [int] NOT NULL,
	[heSoLuong] [float] NOT NULL,
	[thanhTien] [money] NOT NULL,
	[trangThai] [tinyint] NOT NULL,
 CONSTRAINT [PK_ChamLuong_1] PRIMARY KEY CLUSTERED 
(
	[maLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietBH]    Script Date: 5/29/2021 5:54:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietBH](
	[maBH] [varchar](10) NOT NULL,
	[maSP] [varchar](10) NOT NULL,
	[soLuong] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietBH_1] PRIMARY KEY CLUSTERED 
(
	[maBH] ASC,
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietCT]    Script Date: 5/29/2021 5:54:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietCT](
	[maCT] [varchar](10) NOT NULL,
	[maNL] [varchar](10) NOT NULL,
	[soLuong] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietCT] PRIMARY KEY CLUSTERED 
(
	[maCT] ASC,
	[maNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDK]    Script Date: 5/29/2021 5:54:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDK](
	[maDK] [varchar](10) NOT NULL,
	[maNL] [varchar](10) NOT NULL,
	[soLuong] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietDK] PRIMARY KEY CLUSTERED 
(
	[maDK] ASC,
	[maNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietNhapXuat]    Script Date: 5/29/2021 5:54:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhapXuat](
	[maNX] [varchar](10) NOT NULL,
	[maNL] [varchar](10) NOT NULL,
	[soLuong] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietNhapXuat_1] PRIMARY KEY CLUSTERED 
(
	[maNX] ASC,
	[maNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongThuc]    Script Date: 5/29/2021 5:54:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongThuc](
	[maCT] [varchar](10) NOT NULL,
	[maSP] [varchar](10) NOT NULL,
	[cachLam] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CongThuc_1] PRIMARY KEY CLUSTERED 
(
	[maCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKi]    Script Date: 5/29/2021 5:54:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKi](
	[maDK] [varchar](10) NOT NULL,
	[maCLV] [varchar](10) NOT NULL,
	[tg] [datetime] NOT NULL,
	[ghiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_DangKi] PRIMARY KEY CLUSTERED 
(
	[maDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaDiem]    Script Date: 5/29/2021 5:54:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaDiem](
	[maDD] [varchar](10) NOT NULL,
	[viTri] [nvarchar](max) NOT NULL,
	[trangThai] [tinyint] NOT NULL,
 CONSTRAINT [PK_DiaDiem] PRIMARY KEY CLUSTERED 
(
	[maDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonViTinh]    Script Date: 5/29/2021 5:54:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonViTinh](
	[maDV] [varchar](10) NOT NULL,
	[tenDV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DonVi] PRIMARY KEY CLUSTERED 
(
	[maDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 5/29/2021 5:54:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[maNL] [varchar](10) NOT NULL,
	[tenNL] [nvarchar](200) NOT NULL,
	[maDV] [varchar](10) NOT NULL,
	[gia] [money] NOT NULL,
	[soLuong] [int] NOT NULL,
 CONSTRAINT [PK_NguyenLieu] PRIMARY KEY CLUSTERED 
(
	[maNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 5/29/2021 5:54:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[tenTK] [varchar](50) NOT NULL,
	[matKhau] [varchar](200) NOT NULL,
	[chucVu] [nvarchar](200) NOT NULL,
	[cmnd] [varchar](20) NOT NULL,
	[sdt] [varchar](12) NOT NULL,
	[gioiTinh] [nvarchar](10) NOT NULL,
	[tenNV] [nvarchar](200) NOT NULL,
	[trangThai] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__NhanVien__FB731BDF7315B2A4] PRIMARY KEY CLUSTERED 
(
	[tenTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__NhanVien__22BEB80D5D0334DF] UNIQUE NONCLUSTERED 
(
	[cmnd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapXuat]    Script Date: 5/29/2021 5:54:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapXuat](
	[maNX] [varchar](10) NOT NULL,
	[tenTK] [varchar](50) NOT NULL,
	[tg] [datetime] NOT NULL,
	[trangThai] [nvarchar](20) NOT NULL,
	[thanhTien] [money] NULL,
	[ghiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_NhapXuat_1] PRIMARY KEY CLUSTERED 
(
	[maNX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 5/29/2021 5:54:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSP] [varchar](10) NOT NULL,
	[tenSP] [nvarchar](200) NOT NULL,
	[maDV] [varchar](10) NOT NULL,
	[gia] [money] NOT NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BanHang]  WITH CHECK ADD  CONSTRAINT [FK_BanHang_CaLamViec] FOREIGN KEY([maCLV])
REFERENCES [dbo].[CaLamViec] ([maCLV])
GO
ALTER TABLE [dbo].[BanHang] CHECK CONSTRAINT [FK_BanHang_CaLamViec]
GO
ALTER TABLE [dbo].[BanHang]  WITH CHECK ADD  CONSTRAINT [FK_BanHang_NhanVien] FOREIGN KEY([tenTK])
REFERENCES [dbo].[NhanVien] ([tenTK])
GO
ALTER TABLE [dbo].[BanHang] CHECK CONSTRAINT [FK_BanHang_NhanVien]
GO
ALTER TABLE [dbo].[CaLamViec]  WITH CHECK ADD  CONSTRAINT [FK_CaLamViec_DiaDiem] FOREIGN KEY([maDD])
REFERENCES [dbo].[DiaDiem] ([maDD])
GO
ALTER TABLE [dbo].[CaLamViec] CHECK CONSTRAINT [FK_CaLamViec_DiaDiem]
GO
ALTER TABLE [dbo].[CaLamViec]  WITH CHECK ADD  CONSTRAINT [FK_CaLamViec_NhanVien] FOREIGN KEY([TK1])
REFERENCES [dbo].[NhanVien] ([tenTK])
GO
ALTER TABLE [dbo].[CaLamViec] CHECK CONSTRAINT [FK_CaLamViec_NhanVien]
GO
ALTER TABLE [dbo].[CaLamViec]  WITH CHECK ADD  CONSTRAINT [FK_CaLamViec_NhanVien1] FOREIGN KEY([TK2])
REFERENCES [dbo].[NhanVien] ([tenTK])
GO
ALTER TABLE [dbo].[CaLamViec] CHECK CONSTRAINT [FK_CaLamViec_NhanVien1]
GO
ALTER TABLE [dbo].[ChamLuong]  WITH CHECK ADD  CONSTRAINT [FK_ChamLuong_NhanVien] FOREIGN KEY([tenTK])
REFERENCES [dbo].[NhanVien] ([tenTK])
GO
ALTER TABLE [dbo].[ChamLuong] CHECK CONSTRAINT [FK_ChamLuong_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietBH]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBH_BanHang1] FOREIGN KEY([maBH])
REFERENCES [dbo].[BanHang] ([maBH])
GO
ALTER TABLE [dbo].[ChiTietBH] CHECK CONSTRAINT [FK_ChiTietBH_BanHang1]
GO
ALTER TABLE [dbo].[ChiTietBH]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBH_SanPham1] FOREIGN KEY([maSP])
REFERENCES [dbo].[SanPham] ([maSP])
GO
ALTER TABLE [dbo].[ChiTietBH] CHECK CONSTRAINT [FK_ChiTietBH_SanPham1]
GO
ALTER TABLE [dbo].[ChiTietCT]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietCT_CongThuc1] FOREIGN KEY([maCT])
REFERENCES [dbo].[CongThuc] ([maCT])
GO
ALTER TABLE [dbo].[ChiTietCT] CHECK CONSTRAINT [FK_ChiTietCT_CongThuc1]
GO
ALTER TABLE [dbo].[ChiTietCT]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietCT_NguyenLieu1] FOREIGN KEY([maNL])
REFERENCES [dbo].[NguyenLieu] ([maNL])
GO
ALTER TABLE [dbo].[ChiTietCT] CHECK CONSTRAINT [FK_ChiTietCT_NguyenLieu1]
GO
ALTER TABLE [dbo].[ChiTietDK]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDK_DangKi] FOREIGN KEY([maDK])
REFERENCES [dbo].[DangKi] ([maDK])
GO
ALTER TABLE [dbo].[ChiTietDK] CHECK CONSTRAINT [FK_ChiTietDK_DangKi]
GO
ALTER TABLE [dbo].[ChiTietDK]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDK_NguyenLieu] FOREIGN KEY([maNL])
REFERENCES [dbo].[NguyenLieu] ([maNL])
GO
ALTER TABLE [dbo].[ChiTietDK] CHECK CONSTRAINT [FK_ChiTietDK_NguyenLieu]
GO
ALTER TABLE [dbo].[ChiTietNhapXuat]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhapXuat_NguyenLieu] FOREIGN KEY([maNL])
REFERENCES [dbo].[NguyenLieu] ([maNL])
GO
ALTER TABLE [dbo].[ChiTietNhapXuat] CHECK CONSTRAINT [FK_ChiTietNhapXuat_NguyenLieu]
GO
ALTER TABLE [dbo].[ChiTietNhapXuat]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhapXuat_NhapXuat] FOREIGN KEY([maNX])
REFERENCES [dbo].[NhapXuat] ([maNX])
GO
ALTER TABLE [dbo].[ChiTietNhapXuat] CHECK CONSTRAINT [FK_ChiTietNhapXuat_NhapXuat]
GO
ALTER TABLE [dbo].[CongThuc]  WITH CHECK ADD  CONSTRAINT [FK_CongThuc_SanPham] FOREIGN KEY([maSP])
REFERENCES [dbo].[SanPham] ([maSP])
GO
ALTER TABLE [dbo].[CongThuc] CHECK CONSTRAINT [FK_CongThuc_SanPham]
GO
ALTER TABLE [dbo].[DangKi]  WITH CHECK ADD  CONSTRAINT [FK_DangKi_CaLamViec] FOREIGN KEY([maCLV])
REFERENCES [dbo].[CaLamViec] ([maCLV])
GO
ALTER TABLE [dbo].[DangKi] CHECK CONSTRAINT [FK_DangKi_CaLamViec]
GO
ALTER TABLE [dbo].[NguyenLieu]  WITH CHECK ADD  CONSTRAINT [FK_NguyenLieu_DonVi] FOREIGN KEY([maDV])
REFERENCES [dbo].[DonViTinh] ([maDV])
GO
ALTER TABLE [dbo].[NguyenLieu] CHECK CONSTRAINT [FK_NguyenLieu_DonVi]
GO
ALTER TABLE [dbo].[NhapXuat]  WITH CHECK ADD  CONSTRAINT [FK_NhapXuat_NhanVien] FOREIGN KEY([tenTK])
REFERENCES [dbo].[NhanVien] ([tenTK])
GO
ALTER TABLE [dbo].[NhapXuat] CHECK CONSTRAINT [FK_NhapXuat_NhanVien]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DonVi] FOREIGN KEY([maDV])
REFERENCES [dbo].[DonViTinh] ([maDV])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DonVi]

--username: admin
--password: admin
GO
INSERT [dbo].[NhanVien] ([tenTK], [matKhau], [chucVu], [cmnd], [sdt], [gioiTinh], [tenNV], [trangThai]) 
VALUES (N'admin', N'c7ad44cbad762a5da0a452f9e854fdc1e0e7a52a38015f23f3eab1d80b931dd472634dfac71cd34ebc35d16ab7fb8a90c81f975113d6c7538dc69dd8de9077ec', N'admin', N'245404121', N'0985938085', N'Nam', N'Admin', N'1')

GO
USE [master]
GO

